@import "../vars.scss";
.auth {
  width: 90%;
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  direction: rtl;
  @include mobile {
    width: 99%;
    grid-template-columns: none;
    display: block;
    height: auto;
    section,
    form {
      margin: auto;
      padding-top: 20%;
    }
  }
  section {
    width: 90%;
    text-align: center;
    margin-top: 0;
    svg {
      font-size: 10rem;
      transition: 0.2s;
      color: $grey3;
      @include mobile {
        font-size: 3rem;
      }
    }
    h1 {
      color: $white3;
      padding: 0.5em 0;
    }
    p {
      direction: rtl;
      color: $white;
    }
  }
  form {
    width: 50%;
    text-align: center;
    @include mobile {
      width: 90%;
    }
    svg {
      font-size: 5rem;
      color: $white3;
    }
    p {
      padding: 1.5em 0;
    }
    input {
      border: 1px solid $white3;
      margin-bottom: 1.5em;
      text-align: center;
      direction: ltr;
      background: none;
      font-family: var(--font-en);
      text-transform: uppercase;
      &::placeholder {
        color: $white2;
      }
      &.focus {
        border: 1px solid $blue;
      }
    }
    button {
      background: $blue;
      font-family: var(--font-ar);
      cursor: pointer;
      transition: 0.3s;
      @include desktop {
        &:hover {
          background: $blue2;
        }
      }
    }
    button,
    input {
      color: $white;
      width: 100%;
      padding: 1em;
      font-size: 1rem;
      border-radius: 10em;
    }
  }
}
