@import "../../../vars.scss";
.desktop_controls {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &.fadeIn {
    .controls {
      animation: 0.2s fadeUp forwards;
      @keyframes fadeUp {
        from {
          bottom: -10em;
        }
        to {
          bottom: 0;
        }
      }
    }
  }
  &.fadeOut {
    cursor: none;
    .controls {
      animation: 0.2s fadeDown forwards;
      @keyframes fadeDown {
        from {
          bottom: 0em;
        }
        to {
          bottom: -10em;
        }
      }
    }
  }
}

.controls {
  position: absolute;
  bottom: -10em;
  width: 97%;
  left: 50%;
  transform: translateX(-50%);
  & > .container {
    position: relative;
  }
}
