@import "../../../vars.scss";

.img_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @include mobile {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: auto;
  }
  li {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 0.5em;
    cursor: pointer;
    user-select: none;
    border-radius: 1em;
    height: fit-content;
    @include mobile {
      width: 45%;
      margin-inline: 0;
      margin-left: auto;
    }
    img {
      width: 100%;
      min-height: 11em;
      border-radius: 1em;
      @include mobile {
        min-height: 8em;
        max-height: 14em;
      }
    }
  }
}
